<h1>Fakebook</h1>

<table>
  <tr>
    <th>内容</th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%= picture.content %></td>
    <td><%= link_to '詳細を確認' , picture_path(picture.id) %></td>
    <td><%= link_to "編集する" , edit_blog_path(blog.id) %></td>
    <td><%= link_to "削除する" , picture
  </tr>
<% end %>
</table>

<%= link_to 'New Post' , new_picture_path %>
