<p><%= notice %></p>

<% @pictures.each do |picture| %>
  <div class = "index">
  <table>
  <tr>
    <th>ãƒ¦ãƒ¼ã‚¶ãƒ¼:</th>
    <td><%= picture.user.name %></td>
    <th>å†…å®¹:</th>
    <td><%= picture.content %></td>
    <th>è©³ç´°:</th>
    <td><%= link_to 'ðŸ“•' , picture_path(picture.id) %></td>
    <th>edit:</th>
    <td><%= link_to 'âœï¸' , edit_picture_path(picture.id) %></td>
    <th>delete</th>
    <td><%= link_to 'ðŸ†‘' , picture_path(picture.id), method: :delete %></td>
  </tr>
<% end %>
</table>
</div>


